<div class="container-fluid vh-50 d-flex justify-content-center " id = "home_container">
  <div class="center-container p-4 rounded border">
    
    <%= link_to 'View images', annotated_images_path ,data: { turbolinks: false} %>
    <%= link_to 'Upload image', new_annotated_image_path,   data: { turbolinks: false} %>
  </div>
</div>

